<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style.css" />
    <title>Book Form</title>
  </head>
  <body>
  <div class="book-form">
    <h1>Book Form Edit</h1>
    <form method="POST" action="/book/edit/{{book.book_id}}">
        <input placeholder="title" name="title" value={{book.title}} />
        <input placeholder="authors" name="authors" value={{book.authors}} />
        <button type="submit">Save</button>
    </form>
  </div>
  </body>
</html>
